* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0; /* Ingen kanter i siden af browser */
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}


.topSection{
    height: 100vh;
}

.logo{
    max-width: 200px;
    padding: 20px 0 0 20px;
}

.desktopNav {
    display: none;
}

/*  BURGER
========================================== */

.burger {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 20px;
    border-radius: 4px;
    z-index: 10;
}

.burger span {
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
}

.burger span, .burger span::before, .burger span::after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #c40000;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.burger span::before, .burger span::after {
    position: absolute;
    content: "";
}

.burger span::before { top: -9px; }

.burger span::after { top: 9px; }

.burger.clicked span { background-color: transparent; }

.burger.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);

}

.burger.clicked span:before, .burger.clicked span:after { background-color: #ffffff; }

.burger:hover { cursor: pointer; }

/*  NAV
========================================== */

nav {
    background-color: #2a2a2a;
    position: fixed;
    text-align: center;
    z-index: 9;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 515px;
    width: 100%;
    padding: 100px 40px 60px 40px;
    overflow-y: auto;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

nav.show {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

nav.show ul.main li {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

nav.show ul.main li:nth-child(1) { transition-delay: 0.15s; }

nav.show ul.main li:nth-child(2) { transition-delay: 0.3s; }

nav.show ul.main li:nth-child(3) { transition-delay: 0.45s; }

nav.show ul.main li:nth-child(4) { transition-delay: 0.6s; }

nav.show ul.main li:nth-child(5) { transition-delay: 0.75s; }

nav.show ul.main li:nth-child(6) { transition-delay: 0.9s; }

nav.show ul.main li:nth-child(7) { transition-delay: 1.05s; }

nav.show ul.main li:nth-child(8) { transition-delay: 1.2s; }

nav.show ul.main li:nth-child(9) { transition-delay: 1.35s; }

nav.show .about, nav.show .social, nav.show ul.sub {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    transition-delay: .85s;
}
@media (min-width: 667px) {

    nav { padding: 120px 90px 70px 90px; }
}

nav ul.main { list-style-type: none; }

nav ul.main li {
    margin-bottom: 20px;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul.main li:last-of-type { margin-bottom: 0; }

nav ul.main li a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: block;
    letter-spacing: 5px;
    font-weight: 600;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul.main li a span { color: #c40000; }

nav ul.main li a:hover { color: #c40000; }

nav .about {
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

nav .about p {
    color: #ffffff;
    font-family: "Spectral", serif;
    font-size: 1.05rem;
    letter-spacing: 0.5px;
    line-height: 170%;
}

nav .social {
    margin-top: 40px;
    position: relative;
    padding-bottom: 30px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

nav .social:after {
    content: "";
    width: 230px;
    height: 2px;
    background-color: #c40000;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

nav .social a:last-of-type { margin-right: 0; }

nav .social a:hover svg path, nav .social a:hover svg circle { fill: #c40000; }

nav .social a svg {
    width: 100%;
    height: 100%;
}

nav .social a svg path, nav .social a svg circle {
    fill: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul.sub {
    list-style-type: none;
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

nav ul.sub li { margin-bottom: 10px; }

nav ul.sub li:last-of-type { margin-bottom: 0; }

nav ul.sub li a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul.sub li a:hover { color: #c40000; }

/*  OVERLAY
========================================== */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #1f1f1f;
    opacity: 0;
    visibility: hidden;
}

.overlay.show {
    opacity: 0.8;
    visibility: visible;
}

#headerVideo{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -2;

}

.videoOverlay{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.flexContainer{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    -webkit-animation: fadein 5s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



.overSkrift{
    color: white;
    text-align: center;
    font-size: 0.8rem;

}

.paragraph {
    color: white;
    text-align: center;
}

.ctaButton{
    background-color: #C40000;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 13px;
    cursor: pointer;
}

.ctaButton:hover{
    background-color: #2a2a2a;
}

.afbetaling{
    display: flex;
    color: #f1f1f1;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    background-color: black;
    padding: 30px 0;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}
.afbetaling span {
    color: #C40000;
}

.indexContent{
    padding: 0 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.underline {
    background-color: #C40000;
    height: 2px;
    width: 300px;
}

.underline2 {
    background-color: #c4c4c4;
    height: 1px;
    width: 400px;
}

.flexBox{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.infoText {
    padding-top: 20px;

}

.ctaButtonInfo {
    background-color: #C40000;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 13px;
    margin-top: 10px;
    cursor: pointer;
}

.ctaButtonInfo:hover{
    background-color: #2a2a2a;
    text-decoration: underline;
}

.indexContent img{
    width: 100%;
}

.slideshowHeader{
    padding: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.udvalgteCykler{
    padding: 20px 0
}

/* SLIDESHOW */
.hide {
    display: none;
}

.slideShow{
    display: flex;
    justify-content: center;
}

/* SLIDESHOW */



.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 200px;
    font-size: 1.5rem;
}

.iconChild{
    display: flex;
    justify-content: left;
    align-items: center;
}

.iconChild p{
    padding-left: 20px;
    font-size: 1rem;
}

.desktopMaps{
    display: none;
}

.maps {
    width: 100%;
    height: 200px;
    border-style: none;
    padding-top: 30px;
}

.footer {
    background-color: #141414;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


/* MediaQuery for desktopNav */
@media screen and (min-width: 950px) {
    .main {
         display: none;
     }

    .burger{
        display: none;
    }

    .overlay{
        display: none;
    }

    .desktopNav{
        display: inline;
    }

    .mainDesktop {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;

    }

    .desktopNav a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px 10px;
        font-weight: bold;
    }


    .desktopNav ul {
        list-style-type: none;
    }

    .desktopNav li a:hover{
        color: #C40000;
        text-decoration: underline;
    }

    .contactBtn{
        background-color: #C40000;
        border-radius: 8px;
        text-decoration: none !important;
        color: white !important;
    }

    .contactBtn:hover{
        background-color: #2a2a2a;
    }

    .flexContainer {
        padding-top: 100px;
    }

}

/* MediaQuery for desktopNav */


/* MediaQuery for de 2 h2 overskrifter+indhold */
@media screen and (min-width: 950px){
    .indexContent{
        max-width: 49%;
    }
    .infoImage{
        max-width: 50%;
        padding: 50px 20px 0 20px;
    }

    .infoFlex{
        display: flex;
        justify-content: space-between;
    }

    .flexReverse{
        flex-direction: row-reverse;
    }

}

/* MediaQuery for slideshow */
@media screen and (min-width: 820px) {

    .hide{
        display: flex;
        width: 15%;
        opacity: 0.5;
    }

    .slider{
        display: flex;
        justify-content: center;
    }

    .slider img{
        padding: 0 20px;
    }

    .slideShow{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .middle{
        width: 20%;
    }
}

/* MediaQuery for maps */
@media screen and (min-width: 750px) {



    .desktopMaps{
        display: inline;
        padding: 50px 20px;
        min-width: 50%;
        max-width: 50%;

    }

    .mapsFlex{
        display: flex;
        justify-content: space-between;
    }

    .maps{
        min-height: 300px;
    }

    .mobileMaps{
        display: none;
    }

    .contactFlex {
        display: flex;
        justify-content: space-between;
    }

}

/* MediaQuery for side padding */
@media screen and (min-width: 1000px) {
    .paddingContainer {
        padding: 0 20%;
    }
}

