* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
    font-family: 'Open Sans', sans-serif;
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}

.header {
    width: 100%;
    height: 100vh;

}


.menuHeader{
    width:100%;
    height:60px;
    line-height:60px;
}
.hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0 15px;
    color: #C40000;
    border:0;
    font-size:3em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}
.cross{
    background:none;
    position:absolute;
    top:0;
    right:0;
    padding:7px 15px 0 15px;
    color: #C40000;
    border:0;
    font-size:4rem;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; width:100%; background: #141414;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom: #ffffff 0 solid;}
.menu li:hover{display: block;    background: #c40000; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color: #c40000;}
.menu ul li a:hover {  color: #ffffff; text-decoration:none;}
.menu a{text-decoration:none; color: #ffffff;}
.menu a:hover{text-decoration:none; color: #ffffff;}

.glyphicon-home{
    color:white;
    font-size:1.5em;
    margin-top:5px;
    margin:0 auto;
}
.menuHeader{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}










.videoOverlay{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#headerVideo{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -2;

}

.topBar img{
    width: 50%;
    padding: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #f1f1f1;
    width: 100%;
    padding: 5px;
    justify-content: center;
    position: absolute;
    top: 200px;
}

.content h1{
    font-size: 1.7rem;
}

.content p{
    padding-top: 50px;
}

.ctaButton{
    background-color: #C40000;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    border-radius: 13px;
}

.afbetaling{
    display: flex;
    color: #f1f1f1;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    background-color: black;
    padding: 30px 0;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}
.afbetaling span {
    color: #C40000;
}

.indexContent{
    padding: 30px 20px;
}

.underline {
    background-color: #C40000;
    height: 2px;
    width: 200px;
}

.infoText {
    padding-top: 20px;

}

.ctaButtonInfo {
    background-color: #C40000;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 13px;
    margin-top: 10px;
}

.indexContent img{
    width: 100%;
}

.iconChild {
    font-size: 2rem;
    width: 30px;
    align-items: center;
    display: flex;
    padding: 20px;
}

.iconChild p{
    font-weight: lighter;
    font-size: 0.9rem;
    padding-left: 30px;
}

.contact{
    margin-left: 12px;
}

.maps {
    width: 100%;
    height: 200px;
    border-style: none;
}

.footer {
    background-color: #141414;
    height: 300px;
    display: flex;
    justify-content: center;
    color: #f1f1f1;
}